@model FSWDFinalProject.DATA.EF.Location

@{
    ViewBag.Title = "Remove";
}

<h2 style="padding-top: 4em;"></h2>

<div class="container justify-content-center border1 col-md-8" style="margin-bottom: 1.5em;">
    <h3 class="text-center" style="padding-top: 15px;">Are you sure you want to remove <span style="color: red;">@Html.DisplayFor(model => model.LocationName)</span>?</h3>
    @*<dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>*@

    <div class="">
        <div class="details-content-l">
            @Html.DisplayNameFor(model => model.Address)
        </div>

        <div class="details-content-r">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>

    <div class="">
        <div class="details-content-l">
            @Html.DisplayNameFor(model => model.City)
        </div>

        <div class="details-content-r">
            @Html.DisplayFor(model => model.City)
        </div>
    </div>

    <div class="">
        <div class="details-content-l">
            @Html.DisplayNameFor(model => model.State)
        </div>

        <div class="details-content-r">
            @Html.DisplayFor(model => model.State)
        </div>
    </div>

    <div class="">
        <div class="details-content-l">
            @Html.DisplayNameFor(model => model.ZipCode)
        </div>

        <div class="details-content-r">
            @Html.DisplayFor(model => model.ZipCode)
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="row button-styling">
        <div class="col-md-10" style="padding-left: 2.5em;">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        <div class="">
            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-primary" })
        </div>
    </div>
    }
</div>