@model IEnumerable<FSWDFinalProject.DATA.EF.OwnerAsset>

@{
    ViewBag.Title = "Your Events";
}

<h2 class="padme">@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservedStatu.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedStatu.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OwnerAssetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OwnerAssetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OwnerAssetID })
        </td>
    </tr>
}

</table>
