@model IEnumerable<FSWDFinalProject.DATA.EF.Room>

@{
    ViewBag.Title = "Rooms";
}

<h2 class="padme"></h2>

<p>

</p>
<div class="container col-md-6 border1" style="margin-bottom: 1.5em;">
    <h2 style="padding-top: .5em;">@ViewBag.Title @Html.ActionLink("Add New Room", "Create", "", new { @class = "btn btn-primary" })</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCapacity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCapacity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RoomID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.RoomID }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoomID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>